{"openapi":"3.0.3","info":{"title":"Skywalk API","description":"REST API for AppFolio Property Manager data.\n\nSkywalk API provides programmatic access to AppFolio Property Manager data via a JSON REST API.\n\n## Authentication\nPass your API key in the `X-API-Key` header with every request.\n\n## Async Polling Pattern\nGET requests return cached data. If data is stale, the response will have `meta.status: \"updating\"` and a background job fetches fresh data from AppFolio. Poll the same URL every 10 seconds until `meta.status` is `\"ok\"`.\n\n## Rate Limiting\nRate limits apply per project, separately for reads and writes. Exceeding a limit returns `429` with a `Retry-After` header.\n\n## Usage Quotas\nUsage is metered in credits per calendar month, with separate read and write quotas. A successful request costs 1 credit per page of data returned.\n\nEvery metered response carries `X-RateLimit-Limit`, `X-RateLimit-Remaining` and `X-RateLimit-Reset` for the request's class.","version":"1.0.0","contact":{"url":"https://skywalkapi.com/docs/api"}},"servers":[{"url":"https://api.skywalkapi.com","description":"Production"}],"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-API-Key","description":"Your Skywalk API key"}}},"tags":[{"name":"Property Information","description":"Get properties, property groups, portfolios and unit details."},{"name":"Tenant Information","description":"Get tenant details."},{"name":"Vendor Information","description":"Get information about Vendors, and the bills payable to them."},{"name":"GL Accounts","description":"Get Chart of Accounts (General Ledger Accounts)."},{"name":"Financial Reports","description":"Get standard financial reports."},{"name":"Leasing","description":"Get standard leasing reports."},{"name":"Maintenance","description":"Get standard maintenance reports and purchase orders."},{"name":"Write Data","description":"Creatable items."},{"name":"Attachments","description":"Get attachment details and download URLs."},{"name":"Communications","description":"Get emails and other communications."},{"name":"User Management","description":"Get AppFolio user accounts and details."}],"paths":{"/v1/attachments":{"get":{"operationId":"attachments","summary":"Attachments","description":"Get a list of attachments for an occupancy or a work order.","tags":["Attachments"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"occupancyId","in":"query","required":false,"description":"AppFolio ID of the occupancy to get attachments for.","schema":{"type":"string"}},{"name":"workOrderId","in":"query","required":false,"description":"AppFolio ID of the work order to get attachments for.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of the attachment."},"createdAt":{"type":"string","description":"Date the attachment was created."},"folderName":{"type":"string","description":"Name of the folder the attachment is in."},"userName":{"type":"string","description":"Name of the user who uploaded the attachment."},"sharedWith":{"type":"array","items":{"type":"string"},"description":"List of types the attachment is shared with: Tenant, Owner."},"file":{"type":"object","properties":{"id":{"type":"string","description":"AppFolio ID of the attachment."},"signedUrl":{"type":"string","description":"Signed URL to download the attachment."},"fileName":{"type":"string","description":"Name of the attachment file."},"contentType":{"type":"string","description":"MIME content type of the attachment."},"fileSize":{"type":"integer","description":"File size in bytes."}}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/file":{"get":{"operationId":"file","summary":"File","description":"Get the file for an attachment.","tags":["Attachments"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"id","in":"query","required":false,"description":"AppFolio ID of the attachment to download.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"AppFolio ID of the attachment."},"signedUrl":{"type":"string","description":"Signed URL to download the attachment file."},"fileName":{"type":"string","description":"Original file name of the attachment."},"contentType":{"type":"string","description":"MIME content type of the attachment file."},"fileSize":{"type":"integer","description":"File size in bytes."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/balance-sheet":{"get":{"operationId":"balanceSheet","summary":"Balance Sheet","description":"Get the balance sheet statement.","tags":["Financial Reports"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"accounting","in":"query","required":false,"description":"Accounting Basis.\n      Default: cash.\n      Possible Values: cash, accrual","schema":{"type":"string","enum":["cash","accrual"],"default":"cash"}},{"name":"date","in":"query","required":false,"description":"\"As of\" date for report given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"asOf","in":"query","required":false,"description":"Relative \"as of\" date for the report. Ignored when `date` is supplied. Default: end_of_this_month. Possible Values: today, yesterday, end_of_last_week, end_of_last_month, end_of_last_quarter, end_of_last_year, end_of_this_month, end_of_this_quarter, end_of_this_year","schema":{"type":"string","enum":["today","yesterday","end_of_last_week","end_of_last_month","end_of_last_quarter","end_of_last_year","end_of_this_month","end_of_this_quarter","end_of_this_year"],"default":"end_of_this_month"}},{"name":"includeZeroBalanceGlAccounts","in":"query","required":false,"description":"Include GL accounts whose balance is zero. Default: No. Possible Values: Yes, No","schema":{"type":"string","default":"No"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Ephemeral ID for the purpose of child/parent traversal."},"title":{"type":"string","description":"Name of record."},"glAccountId":{"type":"string","description":"Unique ID for this GL Account."},"glAccountIds":{"type":"array","items":{"type":"string"},"description":"Associated glAccount Ids for this account."},"glAccountName":{"type":"string","description":"Name of associated GL Account."},"glAccountCode":{"type":"string","description":"Name of associated GL Account."},"balance":{"type":"string","description":"Account balance."},"parentId":{"type":"string","description":"Maps to the ID of the parent record."},"childIds":{"type":"array","items":{"type":"string"},"description":"Maps to the ID of the child records."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/bank-accounts":{"get":{"operationId":"bankAccounts","summary":"Bank Accounts","description":"Get a list of Bank Accounts.","tags":["Financial Reports"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of Bank Account."},"name":{"type":"string","description":"Name of Bank Account."},"bankName":{"type":"string","description":"Name of Bank."},"corporate":{"type":"boolean","description":"Is bank account corporate."},"maskedAccountNumber":{"type":"string","description":"Account number of bank account (masked)."},"maskedRoutingNumber":{"type":"string","description":"Routing number of bank account (masked)."},"lastReconciliation":{"type":"string","description":"Date of last reconciliation of bank account."},"paymentsEnabledStatus":{"type":"string","description":"If payments are enabled."},"hidden":{"type":"boolean","description":"If this bank account is hidden."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/bank-account-activity":{"get":{"operationId":"bankAccountActivity","summary":"Bank Account Activity","description":"Get bank account activity for a given bank account.","tags":["Financial Reports"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"bankAccountId","in":"query","required":false,"description":"AppFolio ID of the Bank Account to get activity for.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"this_month_to_date"}},{"name":"dateFrom","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"rowId":{"type":"integer","description":"Line number of entry in the tenant ledger."},"credit":{"type":"string","description":"Credit amount for entry"},"debit":{"type":"string","description":"Debut amount for entry."},"balance":{"type":"string","description":"Running balance of bank account including this row."},"transactionType":{"type":"string","description":"Type of transaction."},"date":{"type":"string","description":"Date of enty."},"description":{"type":"string","description":"Description of entry."},"reference":{"type":"string","description":"Reference of entry."},"payeeName":{"type":"string","description":"Name of Payee."},"transaction":{"type":"object","properties":{"id":{"type":"integer","description":"ID number of transaction of this row."},"type":{"type":"string","description":"Type of transaction."}}},"createdAt":{"type":"string","description":"Date transaction was created."},"lastEditedAt":{"type":"string","description":"Date transaction was last edited."},"reconciled":{"type":"string","description":"If transaction has been reconciled"}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/cash-flow":{"get":{"operationId":"cashFlow","summary":"Cash Flow","description":"Get the cash flow statement.","tags":["Financial Reports"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"accounting","in":"query","required":false,"description":"Accounting Basis.\n      Default: cash.\n      Possible Values: cash, accrual","schema":{"type":"string","enum":["cash","accrual"],"default":"cash"}},{"name":"dateRange","in":"query","required":false,"description":"Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"this_month_to_date"}},{"name":"dateFrom","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"ownerPercentBased","in":"query","required":false,"description":"Reflect Owner % in reported numbers.\n      Default: No.\n      Possible Values: Yes, No","schema":{"type":"string","default":"No"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Ephemeral ID for the purpose of child/parent traversal."},"title":{"type":"string","description":"Name of record."},"glAccountId":{"type":"string","description":"Unique ID for this GL Account."},"glAccountName":{"type":"string","description":"Name of associated GL Account."},"glAccountCode":{"type":"string","description":"Name of associated GL Account."},"selectedPeriod":{"type":"string","description":"Account value for the selected period."},"selectedPeriodAsPercent":{"type":"string","description":"Account value expressed as a % for the selected period."},"fiscalYearToDate":{"type":"string","description":"Account value for the fiscal YTD."},"fiscalYearToDateAsPercent":{"type":"string","description":"Account value expressed as a % for the fiscal YTD."},"parentId":{"type":"string","description":"Maps to the ID of the parent record."},"childIds":{"type":"array","items":{"type":"string"},"description":"Maps to the ID of the child records."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/properties":{"get":{"operationId":"properties","summary":"Properties","description":"Get a list of properties.","tags":["Property Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique ID of Property used by AppFolio."},"label":{"type":"string","description":"Name of the property; if not set then the full address of the property."},"fullAddress":{"type":"string","description":"Full address of property."},"name":{"type":"string","description":"Name of property."},"description":{"type":"string","description":"Description of property."},"type":{"type":"string","description":"Type of the property."},"unitCount":{"type":"integer","description":"Total number of units in the property."},"sqFt":{"type":"string","description":"Total square feet of the units in the property."},"marketRent":{"type":"string","description":"Total market rent for the property."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Street address."},"street2":{"type":"string","description":"Street address line 2."},"city":{"type":"string","description":"City of property."},"state":{"type":"string","description":"State of property."},"zip":{"type":"string","description":"Zip code of property."}}},"agentOfRecord":{"type":"string","description":"Property agrent of record."},"amenities":{"type":"array","items":{"type":"string"},"description":"List of property amenity tags."},"lateFee":{"type":"object","properties":{"type":{"type":"string","description":"Type of late fee."},"baseAmount":{"type":"string","description":"Base late fee amount."},"dailyAmount":{"type":"string","description":"Daily late fee amount."},"gracePeriod":{"type":"integer","description":"Number of days of grace period for late fee."},"gracePeriodFixedDay":{"type":"string","description":"Fixed day of grace period."},"graceBalance":{"type":"string","description":"Grace balance to not charge late fees on."},"maxDailyAmount":{"type":"string","description":"Maximum daily late fee amount."}}},"leaseFee":{"type":"object","properties":{"type":{"type":"string","description":"Lease fee type."},"flatFee":{"type":"string","description":"Flat fee amount for leases."},"percentFee":{"type":"string","description":"Percent fee amount for leases."}}},"lisaEnabled":{"type":"boolean","description":"Is Lisa enabled for property."},"management":{"type":"object","properties":{"flatFee":{"type":"string","description":"Flat management fee for property."},"percentFee":{"type":"string","description":"Percent management fee for property."},"feeType":{"type":"string","description":"Type of management fee for property."},"startDate":{"type":"string","description":"Date management started."},"endDate":{"type":"string","description":"Date management ended."},"endReason":{"type":"string","description":"Reason management ended."}}},"manager":{"type":"object","properties":{"name":{"type":"string","description":"Property manager's name."},"phoneNumber":{"type":"string","description":"Property manager's phone number."}}},"maintenance":{"type":"object","properties":{"limit":{"type":"string","description":"Limit amount for maintenance."},"notes":{"type":"string","description":"Maintenance notes."},"group":{"type":"string","description":"Maintenance group."}}},"onlineMaintenanceRequestInstructions":{"type":"string","description":"Instructions for online maintenance requests."},"owners":{"type":"object","properties":{"names":{"type":"array","items":{"type":"string"},"description":"Array of owner names for this property."},"appfolioIds":{"type":"array","items":{"type":"string"},"description":"Array of appfolio Ids of owners."},"contractExpirations":{"type":"array","items":{"type":"string"},"description":"List of owner contract expirations."}}},"ownerPaymentType":{"type":"string","description":"Payment ."},"payerName":{"type":"string","description":"Name of 1099 payer for property."},"portfolio":{"type":"string","description":"Portfolio name."},"premiumLeads":{"type":"object","properties":{"status":{"type":"string","description":"Status of premium leads."},"monthlyCap":{"type":"string","description":"Monthly cap spend amount on premium leads."},"activationDate":{"type":"string","description":"Date premium leads were activated."}}},"propertyClass":{"type":"string","description":"Property Class."},"propertyCreatedBy":{"type":"string","description":"User who created the property in Appfolio."},"propertyCreatedOn":{"type":"string","description":"Date property was created in Appfolio."},"propertyGroupAppfolioIds":{"type":"array","items":{"type":"string"},"description":"Array of IDs of the property groups this property belongs to."},"reserve":{"type":"string","description":"Reserve funds amount."},"taxYearEnd":{"type":"string","description":"Month of tax year end."},"yearBuilt":{"type":"string","description":"Year property was built."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/property-groups":{"get":{"operationId":"propertyGroups","summary":"Property Groups","description":"Get a list of property groups.","tags":["Property Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique ID for this property group."},"name":{"type":"string","description":"Name of this property group."},"propertyIds":{"type":"array","items":{"type":"string"},"description":"Array of AppFolio Ids of property belonging to this property group."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/units":{"get":{"operationId":"units","summary":"Units","description":"Get a list of units.","tags":["Property Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique AppFolio ID for unit."},"name":{"type":"string","description":"Name of unit. Often the unit number."},"marketRent":{"type":"string","description":"Market rent for the unit."},"sqFt":{"type":"string","description":"Unit's Square footage."},"bedrooms":{"type":"string","description":"Number of bedrooms in unit."},"bathrooms":{"type":"string","description":"Number of bathrooms in unit."},"tags":{"type":"array","items":{"type":"string"},"description":"A list of tags for the unit."},"rentStatus":{"type":"string","description":"Rental status of the unit."},"rentable":{"type":"boolean","description":"If the unit is rentable."},"description":{"type":"string","description":"Description of the unit."},"property":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of the property this unit belongs to."},"label":{"type":"string","description":"Label of the property this unit belongs to."}}},"fullAddress":{"type":"string","description":"Full address of this unit."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Street address of this unit."},"street2":{"type":"string","description":"Street address line 2 of this unit."},"city":{"type":"string","description":"City of this unit."},"state":{"type":"string","description":"State of this unit."},"zip":{"type":"string","description":"Zip code of this unit"}}},"marketingTitle":{"type":"string","description":"Title used for marketing."},"marketingDescription":{"type":"string","description":"Description used for marketing."},"advertisedRent":{"type":"string","description":"Advertised rent amount."},"computedMarketRent":{"type":"string","description":"Computed market rent."},"postedToWebsite":{"type":"boolean","description":"If this unit is posted to the website."},"postedToInternet":{"type":"boolean","description":"If this unit is posted to the internet."},"youTubeURL":{"type":"string","description":"URL of the youtube link for this unit."},"type":{"type":"string","description":"Type of unit."},"createdOn":{"type":"string","description":"Date this unit was created on."},"rubsEnabled":{"type":"boolean","description":"If rubs is enabled."},"rubsEnabledOn":{"type":"string","description":"Date rubs was enabled."},"applicationFee":{"type":"string","description":"Application fee for this unit."},"rentReady":{"type":"boolean","description":"If this unit is rent ready."},"rentDueDay":{"type":"string","description":"Day unit rent is due."},"legalRent":{"type":"string","description":"Legal rent for this unit."},"readyForShowingOn":{"type":"string","description":"Date unit is ready to be shown."},"defaultDeposit":{"type":"string","description":"Default security deposit for this unit."},"rentableUid":{"type":"string","description":"Uid used for rentable link."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/unit-photos":{"get":{"operationId":"unitPhotos","summary":"Unit Photos","description":"Get a list of unit photos.","tags":["Leasing"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property for the photos.","schema":{"type":"string"}},{"name":"unitId","in":"query","required":false,"description":"AppFolio ID of a Unit for the photos.","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique AppFolio ID for unit."},"name":{"type":"string","description":"Name of unit. Often the unit number."},"default":{"type":"boolean","description":"Is photo the default."},"url":{"type":"object","properties":{"original":{"type":"string","description":"URL to original photo."},"small":{"type":"string","description":"URL to small photo."},"medium":{"type":"string","description":"URL to medium photo."},"large":{"type":"string","description":"URL to large photo."}}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/tenants":{"get":{"operationId":"tenants","summary":"Tenants","description":"Get a list of tenants.","tags":["Tenant Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"visibility","in":"query","required":false,"description":"Tenant Visibility status to serve as filter.","schema":{"type":"string","enum":["active","hidden","all"],"default":"active"}},{"name":"status","in":"query","required":false,"description":"Tenant Status to serve as filter.","schema":{"type":"string","enum":["current","past","future","evict","notice","all"],"default":["current","notice"]}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique AppFolio ID for this tenant."},"name":{"type":"string","description":"Display name of tenant."},"firstName":{"type":"string","description":"First name of tenant."},"lastName":{"type":"string","description":"Last name of tenant."},"birthdate":{"type":"string","description":"Birth date of tenant."},"emailAddresses":{"type":"array","items":{"type":"string"},"description":"Email addresses for the tenant."},"phoneNumbers":{"type":"array","items":{"type":"object","properties":{"number":{"type":"string"}}},"description":"Phone numbers of the tenant."},"fullAddress":{"type":"string","description":"Full address of the tenant."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Tenant's street address - line 1."},"street2":{"type":"string","description":"Tenant's street address - line 2."},"city":{"type":"string","description":"Tenant's city."},"state":{"type":"string","description":"Tenant's state."},"zip":{"type":"string","description":"Tenant's zip code."}}},"primaryTenant":{"type":"string","description":"If tenant is primary tenant on lease."},"status":{"type":"string","description":"Current status of tenant."},"type":{"type":"string","description":"Type of tenant."},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the tenant."},"pets":{"type":"string","description":"Pets of tenant."},"licensePlates":{"type":"string","description":"Tenant's license plates."},"occupancyAppfolioId":{"type":"string","description":"AppFolio ID for occupancy (lease) this tenant belongs to."},"guestCardAppfolioId":{"type":"string","description":"AppFolio ID for the guest card this tenant belongs to."},"rentalApplicationAppfolioId":{"type":"string","description":"AppFolio ID for the rental application this tenant belongs to."},"moveIn":{"type":"string","description":"Move in date of the tenant."},"moveOut":{"type":"string","description":"Move out date of the tenant."},"insuranceCompanyName":{"type":"string","description":"Tenant's insurance company's name."},"insuranceExpiration":{"type":"string","description":"Tenant's insurance policy expiration date."},"insurancePolicyNumber":{"type":"string","description":"Tenant's insurance policy number."},"property":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID for property this tenant belongs to."},"label":{"type":"string","description":"Label for property this tenant belongs to."}}},"unit":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID for unit this tenant belongs to."},"name":{"type":"string","description":"Name of unit this tenant belongs to."},"type":{"type":"string","description":"Type of unit."}}},"rent":{"type":"string","description":"Rent for the tenant."},"deposit":{"type":"string","description":"Total deposit amount of tenant."},"lastRentIncrease":{"type":"string","description":"Date of the last rent increase."},"nextRentIncrease":{"type":"string","description":"Date of the next rent increase."},"sendRentReminders":{"type":"boolean","description":"True if portal should send tenant reminders."},"ignorePartialPayments":{"type":"boolean","description":"If partial payments should be ignored."},"leaseFrom":{"type":"string","description":"Starting day of the tenant's lease."},"leaseTo":{"type":"string","description":"Ending day of the tenant's lease."},"lastLeaseRenewal":{"type":"string","description":"Date of the last lease renewal."},"lateFee":{"type":"object","properties":{"type":{"type":"string","description":"Type of late fee."},"baseAmount":{"type":"string","description":"Base late fee amount."},"dailyAmount":{"type":"string","description":"Daily late fee amount."},"gracePeriod":{"type":"integer","description":"Number of days of grace period for late fee."},"gracePeriodFixedDay":{"type":"string","description":"Fixed day of grace period."},"graceBalance":{"type":"string","description":"Grace balance to not charge late fees on."},"maxDailyAmount":{"type":"string","description":"Maximum daily late fee amount."}}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/tenant-ledger":{"get":{"operationId":"tenantLedger","summary":"Tenant Ledger","description":"Get tenant ledger for a given tenant.","tags":["Tenant Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"occupancyId","in":"query","required":false,"description":"AppFolio ID of a Occupancy for the tenant ledger.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"all_time"}},{"name":"dateFrom","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"rowId":{"type":"integer","description":"Line number of entry in the tenant ledger."},"credit":{"type":"string","description":"Credit amount for entry"},"debit":{"type":"string","description":"Debut amount for entry."},"balance":{"type":"string","description":"Running balance of ledger including this row."},"date":{"type":"string","description":"Date of enty."},"description":{"type":"string","description":"Description of entry."},"payer":{"type":"string","description":"Payer of entry."},"transaction":{"type":"object","properties":{"id":{"type":"integer","description":"ID number of transaction of this row."},"type":{"type":"string","description":"Type of transaction."},"createdAt":{"type":"string","description":"Date transaction was created."}}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/tenant-charge":{"post":{"operationId":"tenantCharge","summary":"Tenant Charge","description":"Create a tenant charge for a given tenant.","tags":["Write Data"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"occupancyId":{"type":"string","description":"AppFolio ID of a Occupancy for the tenant ledger."},"amount":{"type":"string","description":"The amount of the tenant charge in dollars."},"chargeDate":{"type":"string","description":"The charge date of the tenant charge."},"postingDate":{"type":"string","description":"The posting date of the tenant charge."},"glAccountId":{"type":"string","description":"AppFolio ID of the GL Account for the tenant charge."},"description":{"type":"string","description":"Description for the tenant charge."},"warningsOk":{"type":"string","description":"If true the tenant charge will still be created even if there are warnings such as previous month."}}}}}},"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly write quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":1000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":812}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string"},"path":{"type":"string"},"jobId":{"type":"string"}}},"data":{"type":"object"}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"422":{"description":"Validation error"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly write quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":1000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":812}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/tenant-events":{"get":{"operationId":"tenantEvents","summary":"Tenant Events","description":"Get tenant events (move-ins, move-outs, notices).","tags":["Tenant Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Event date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"this_month"}},{"name":"dateFrom","in":"query","required":false,"description":"Event date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Event date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"eventType","in":"query","required":false,"description":"Filter events by type.\n      Possible Values: all, Move-in, Move-out, Notice","schema":{"type":"string","enum":["all","Move-in","Move-out","Notice"],"default":["all"]}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"occurredDate":{"type":"string","description":"Date the event occurred."},"event":{"type":"string","description":"Type of event (Move-in, Move-out, Notice)."},"property":{"type":"object","properties":{"appfolioId":{"type":"integer","description":"Appfolio id of the property."},"name":{"type":"string","description":"Name of the property."},"address":{"type":"string","description":"Full address of the property."},"street":{"type":"string","description":"Street line 1 of the property."},"street2":{"type":"string","description":"Street line 2 of the property."},"city":{"type":"string","description":"City of the property."},"state":{"type":"string","description":"State of the property."},"zip":{"type":"string","description":"Zip code of the property."},"type":{"type":"string","description":"Property type (e.g. Multi-Family)."}}},"unit":{"type":"object","properties":{"appfolioId":{"type":"integer","description":"Appfolio id of the unit."},"name":{"type":"string","description":"Unit name/number."},"tags":{"type":"string","description":"Tags associated with the unit."},"type":{"type":"string","description":"Type of the unit."}}},"tenant":{"type":"object","properties":{"appfolioId":{"type":"integer","description":"Appfolio id of the tenant."},"name":{"type":"string","description":"Name of the tenant."},"phoneNumber":{"type":"string","description":"Phone number of the tenant."},"email":{"type":"string","description":"Email address of the tenant."},"tags":{"type":"string","description":"Tags associated with the tenant."},"status":{"type":"string","description":"Status of the tenant."}}},"occupancy":{"type":"object","properties":{"appfolioId":{"type":"integer","description":"Appfolio id of the occupancy."}}},"rent":{"type":"string","description":"Rent amount."},"leaseFrom":{"type":"string","description":"Lease start date."},"leaseTo":{"type":"string","description":"Lease end date."},"deposit":{"type":"string","description":"Deposit amount."},"depositsAuthorized":{"type":"string","description":"Authorized deposits amount."},"moveOutDate":{"type":"string","description":"Move-out date."},"moveOutReason":{"type":"string","description":"Reason for move-out."},"moveInDate":{"type":"string","description":"Move-in date."},"leaseSignDate":{"type":"string","description":"Date the lease was signed."},"assignedUser":{"type":"string","description":"User assigned to this tenant."},"tenantSdrPayment":{"type":"string","description":"Security deposit refund payment status."},"rentalApplicationId":{"type":"integer","description":"ID of the associated rental application."},"portfolioId":{"type":"integer","description":"ID of the portfolio."},"sdrEcheckEligibility":{"type":"string","description":"eCheck eligibility for security deposit refund."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/owners":{"get":{"operationId":"owners","summary":"Owners","description":"Get a list of owners.","tags":["Property Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"ownerVisibility","in":"query","required":false,"description":"Owner Visibility status to serve as filter.","schema":{"type":"string","enum":["active","hidden","all"],"default":"active"}},{"name":"propertyVisibility","in":"query","required":false,"description":"Property Visibility status to serve as filter.","schema":{"type":"string","enum":["active","hidden","all"],"default":"active"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique AppFolio ID for this owner."},"name":{"type":"string","description":"Display name of owner."},"firstName":{"type":"string","description":"First name of owner."},"lastName":{"type":"string","description":"Last name of owner."},"emailAddress":{"type":"string","description":"Email addresses for the owner."},"phoneNumbers":{"type":"array","items":{"type":"object","properties":{"number":{"type":"string"}}},"description":"Phone numbers of the owner."},"fullAddress":{"type":"string","description":"Full address of the owner."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Owner's street address - line 1."},"street2":{"type":"string","description":"Owner's street address - line 2."},"city":{"type":"string","description":"Owner's city."},"state":{"type":"string","description":"Owner's state."},"zip":{"type":"string","description":"Owner's zip code."},"country":{"type":"string","description":"Owner's country code."}}},"propertyIds":{"type":"array","items":{"type":"string"},"description":"Property IDs belonging to owner."},"tags":{"type":"array","items":{"type":"string"},"description":"List of tags for the owner."},"notesForOwner":{"type":"string","description":"Notes for owner."},"ownerPacketReports":{"type":"array","items":{"type":"string"},"description":"Reports in Owner's packet."},"sendOwnerPacketsByEmail":{"type":"boolean","description":"Send owner's packet by email?"},"lastPacketSent":{"type":"string","description":"Date of last owner packet sent."},"alternativePayee":{"type":"string","description":"Alternate payee name."},"paymentType":{"type":"string","description":"Payment method."},"lastPaymentDate":{"type":"string","description":"Last owner payment date."},"holdPayments":{"type":"boolean","description":"Hold payments to this owner."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/vendors":{"get":{"operationId":"vendors","summary":"Vendors","description":"Get a list of vendors.","tags":["Vendor Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of the vendor."},"companyName":{"type":"string","description":"Company name of the vendor, or null when the vendor is a person."},"name":{"type":"string","description":"Personal name of the vendor as \"Last, First\", or null when the vendor is a company."},"firstName":{"type":"string","description":"First name of the vendor contact, or null."},"lastName":{"type":"string","description":"Last name of the vendor contact, or null."},"fullAddress":{"type":"string","description":"Full street address of the vendor on one line, as displayed."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Line one of the street address."},"street2":{"type":"string","description":"Line two of the street address, or null."},"city":{"type":"string","description":"City."},"state":{"type":"string","description":"State or region code, e.g. CA."},"zip":{"type":"string","description":"Postal code."}}},"phoneNumbers":{"type":"array","items":{"type":"object","properties":{"number":{"type":"string"}}},"description":"Phone numbers of the vendor, each with a \"label\" (Office, Mobile, Home or Fax) and the \"phone\" number. Empty when none is on file."},"email":{"type":"string","description":"Email address of the vendor, or null."},"defaultGLAccount":{"type":"string","description":"Default GL account for the vendor's bills, as displayed, or null."},"paymentType":{"type":"string","description":"How the vendor is paid, as recorded in AppFolio, e.g. check."},"send1099":{"type":"boolean","description":"Whether the vendor receives a 1099."},"workersCompExpires":{"type":"string","description":"Date the vendor's workers' compensation insurance expires, or null."},"liabilityInsExpires":{"type":"string","description":"Date the vendor's liability insurance expires, or null."},"epaCertExpires":{"type":"string","description":"Date the vendor's EPA certification expires, or null."},"stateLicExpires":{"type":"string","description":"Date the vendor's state license expires, or null."},"contractExpires":{"type":"string","description":"Date the vendor's contract expires, or null."},"tags":{"type":"array","items":{"type":"string"},"description":"Tags applied to the vendor in AppFolio."},"enrolledInNetVendor":{"type":"boolean","description":"Whether the vendor is enrolled in NetVendor."},"autoInsExpires":{"type":"string","description":"Date the vendor's auto insurance expires, or null."},"vendorTrades":{"type":"string","description":"Trades (work order categories) of the vendor as one displayed string, or null."},"doNotUseForWorkOrder":{"type":"boolean","description":"Whether the vendor is excluded from work order assignment."},"terms":{"type":"string","description":"Payment terms recorded for the vendor, or null."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}},"post":{"operationId":"vendorCreate","summary":"Create Vendor","description":"Create a vendor, the payee for bills and work orders.","tags":["Write Data"],"security":[{"ApiKeyAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"firstName":{"type":"string","description":"First name of the vendor contact. Required (with lastName) unless companyName is provided."},"lastName":{"type":"string","description":"Last name of the vendor contact. Required (with firstName) unless companyName is provided."},"companyName":{"type":"string","description":"Company name of the vendor. Required unless firstName and lastName are provided."},"useCompanyNameAsDisplayName":{"type":"string","description":"Display the company name rather than the personal name. Defaults to true when only a company name is given, false otherwise. Requires companyName when set to true."},"vendorType":{"type":"string","description":"Vendor type: general, utility, external_management_company or in-house_maintenance. Defaults to general."},"addressStreet":{"type":"string","description":"Line one of the vendor's street address."},"addressStreet2":{"type":"string","description":"Line two of the vendor's street address."},"addressCity":{"type":"string","description":"City of the vendor's address."},"addressState":{"type":"string","description":"State or region code of the vendor's address, e.g. CA."},"addressZip":{"type":"string","description":"Postal code of the vendor's address."},"addressCountry":{"type":"string","description":"ISO-2 country code of the vendor's address. Defaults to US when any other address field is given."},"phoneNumber":{"type":"string","description":"Phone number for the vendor."},"phoneLabel":{"type":"string","description":"Label for the phone number. Defaults to Office when a phoneNumber is given."},"email":{"type":"string","description":"Email address for the vendor."},"glAccountId":{"type":"string","description":"AppFolio ID of the default GL account for the vendor's bills."},"tradeIds":{"type":"string","description":"AppFolio IDs of the work order categories (trades) the vendor covers."},"taxId":{"type":"string","description":"Taxpayer ID (SSN or EIN) for 1099 reporting. Accepted on create but never included in a response."},"taxpayerName":{"type":"string","description":"Name used for 1099 tax reporting. Defaults to the company name when useCompanyNameAsDisplayName is set, otherwise to \"firstName lastName\"."},"send1099":{"type":"string","description":"Whether the vendor receives a 1099. Defaults to true."}}}}}},"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly write quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":1000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":812}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string"},"path":{"type":"string"},"jobId":{"type":"string"}}},"data":{"type":"object"}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"422":{"description":"Validation error"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly write quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":1000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":812}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/gl-accounts":{"get":{"operationId":"glAccounts","summary":"GL Accounts","description":"Get a list of GL Accounts.","tags":["GL Accounts"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of GL Account."},"accountName":{"type":"string","description":"Name of GL Account."},"accountType":{"type":"string","description":"Type of GL Account."},"number":{"type":"string","description":"Number of GL Account."},"subAccountOf":{"type":"string","description":"Name of parent GL Account; includes account number."},"subAccountOfId":{"type":"string","description":"ID of parent GL Account."},"offsetAccount":{"type":"string","description":"Name of offset account for this GL account; includes account number."},"offsetAccountId":{"type":"string","description":"ID of offset account."},"options":{"type":"array","items":{"type":"string"},"description":"List of GL account options such as \"Exclude from 1099\" or \"Include On Cash Flow\"."},"hidden":{"type":"boolean","description":"If this GL account is hidden."},"subjectToTaxAuthority":{"type":"boolean","description":"If this account is subject to tax authority."},"fundAccount":{"type":"string","description":"Account to fund this GL account."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/unit-vacancies":{"get":{"operationId":"unitVacancies","summary":"Unit Vacancies","description":"Unit vacancy details.","tags":["Property Information"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Available Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"this_month_to_date"}},{"name":"dateFrom","in":"query","required":false,"description":"Available Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Available Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"appfolioId":{"type":"string","description":"Unique AppFolio ID for unit."},"name":{"type":"string","description":"Name of unit. Often the unit number."},"description":{"type":"string","description":"Description of the unit."},"availableOn":{"type":"string","description":"Unit available to rent starting on."},"advertisedRent":{"type":"string","description":"Advertised rent amount."},"computedMarketRent":{"type":"string","description":"Computed market rent."},"amenities":{"type":"string","description":"Amenities offered."},"amenitiesPrice":{"type":"string","description":"Amenities price."},"bedAndBath":{"type":"string","description":"Combination bed/bath count."},"sqFt":{"type":"string","description":"Unit's Square footage."},"daysVacant":{"type":"integer","description":"Days unit has been vacant."},"lastMoveIn":{"type":"string","description":"Previous tenant move in date."},"lastMoveOut":{"type":"string","description":"Previous tenant move out date."},"lastRent":{"type":"string","description":"Previous rent amount."},"newRent":{"type":"string","description":"New rent amount."},"nextMoveIn":{"type":"string","description":"Next move in date."},"postedToInternet":{"type":"boolean","description":"If this unit is posted to the internet."},"postedToWebsite":{"type":"boolean","description":"If this unit is posted to the website."},"readyForShowingOn":{"type":"string","description":"Date unit is ready to be shown."},"rentReady":{"type":"boolean","description":"If this unit is rent ready."},"schdRent":{"type":"string","description":"Scheduled rent amount."},"status":{"type":"string","description":"Status of unit."},"turnTargetDate":{"type":"string","description":"Turn target date."},"type":{"type":"string","description":"TKTK."},"tags":{"type":"array","items":{"type":"string"},"description":"Type of unit."},"property":{"type":"object","properties":{"appfolioId":{"type":"string","description":"AppFolio ID of the property this unit belongs to."},"label":{"type":"string","description":"Label of the property this unit belongs to."}}},"fullAddress":{"type":"string","description":"Full address of this unit."},"address":{"type":"object","properties":{"street":{"type":"string","description":"Street address of this unit."},"street2":{"type":"string","description":"Street address line 2 of this unit."},"city":{"type":"string","description":"City of this unit."},"state":{"type":"string","description":"State of this unit."},"zip":{"type":"string","description":"Zip code of this unit"}}}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/annual-budget-comparative":{"get":{"operationId":"annualBudgetComparative","summary":"Annual Budget Comparative","description":"Get the annual budget comparative statement.","tags":["Financial Reports"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"accounting","in":"query","required":false,"description":"Accounting Basis.\n      Default: cash.\n      Possible Values: cash, accrual","schema":{"type":"string","enum":["cash","accrual"],"default":"cash"}},{"name":"date","in":"query","required":false,"description":"\"As of\" date for report given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","description":"Ephemeral ID for the purpose of child/parent traversal."},"title":{"type":"string","description":"Name of record."},"glAccountId":{"type":"string","description":"Unique ID for this GL Account."},"glAccountName":{"type":"string","description":"Name of associated GL Account."},"glAccountCode":{"type":"string","description":"Name of associated GL Account."},"mtdActual":{"type":"string","description":"Month to date Actual."},"mtdBudget":{"type":"string","description":"Month to date Budget."},"mtdAmountVariance":{"type":"string","description":"Month to date variance from budget."},"mtdPercentVariance":{"type":"string","description":"Month to date percent variance from budget."},"ytdActual":{"type":"string","description":"Year to date Actual."},"ytdBudget":{"type":"string","description":"Year to date Budget."},"ytdAmountVariance":{"type":"string","description":"Year to date variance from budget."},"ytdPercentVariance":{"type":"string","description":"Year to date percent variance from budget."},"annual":{"type":"string","description":"Annual budget."},"note":{"type":"string","description":"Note."},"parentId":{"type":"string","description":"Maps to the ID of the parent record."},"childIds":{"type":"array","items":{"type":"string"},"description":"Maps to the ID of the child records."}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/lead-source-tracking":{"get":{"operationId":"leadSourceTracking","summary":"Lead Source Tracking","description":"Get metrics on lead sources.","tags":["Leasing"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_days","next_30_days","next_60_days","next_90_days","next_week","next_month","next_quarter","until_1_week_ago","until_1_month_ago","all_time"],"default":"this_month_to_date"}},{"name":"dateFrom","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}},{"name":"dateTo","in":"query","required":false,"description":"Date to given in MM/DD/YYYY (e.g. 01/31/2021)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response","headers":{"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}},"content":{"application/json":{"schema":{"type":"object","properties":{"meta":{"type":"object","properties":{"status":{"type":"string","enum":["ok","stale","updating"],"description":"Data freshness status"},"path":{"type":"string"},"count":{"type":"integer"},"lastUpdated":{"type":"integer","description":"Unix timestamp"},"page":{"type":"integer"},"jobId":{"type":"string"}}},"links":{"type":"object","properties":{"next":{"type":"string","description":"Cursor URL for next page"},"prev":{"type":"string","description":"Cursor URL for previous page"}}},"data":{"type":"array","items":{"type":"object","properties":{"applications":{"type":"string","description":"Number of applications recieved for this lead source type"},"approvedApplications":{"type":"string","description":"Number of approved applications recieved for this lead source type"},"convertedTenants":{"type":"string","description":"Number of converted tenants recieved for this lead source type"},"guestCardInquiries":{"type":"string","description":"Number of guest card inquiries recieved for this lead source type"},"showings":{"type":"string","description":"Number of showings recieved for this lead source type"},"source":{"type":"string","description":"Name of this lead source type"}}}}}}}}},"401":{"description":"Unauthorized - Invalid or missing API key"},"403":{"description":"Forbidden"},"429":{"description":"Too Many Requests. Either the project exceeded its requests per-second rate limit, or exhausted the monthly credit balance. Both carry a `Retry-After` header to indicate when a request is safe to retry.","headers":{"Retry-After":{"description":"Whole seconds to wait before retrying the identical request.","schema":{"type":"integer","example":1}},"X-RateLimit-Limit":{"description":"The project's monthly read quota, in credits. Omitted when no quota is configured.","schema":{"type":"integer","example":10000}},"X-RateLimit-Remaining":{"description":"Quota remaining this calendar month. Floors at 0.","schema":{"type":"integer","example":7431}},"X-RateLimit-Reset":{"description":"Unix timestamp (seconds) of when the quota resets.","schema":{"type":"integer","example":1788220800}}}}}}},"/v1/guest-cards":{"get":{"operationId":"guestCards","summary":"Guest Cards","description":"Get guest cards.","tags":["Leasing"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"string"},"description":"Pagination cursor from links.next"},{"name":"propertyId","in":"query","required":false,"description":"AppFolio ID of a Property to serve as a filter.","schema":{"type":"string"}},{"name":"propertyGroupId","in":"query","required":false,"description":"AppFolio ID of a Property Group to serve as a filter.","schema":{"type":"string"}},{"name":"ownerId","in":"query","required":false,"description":"AppFolio ID of an Owner to serve as a filter.","schema":{"type":"string"}},{"name":"dateRange","in":"query","required":false,"description":"Date Range for report.","schema":{"type":"string","enum":["","today","this_week","this_week_to_date","this_month","this_month_to_date","this_quarter","this_quarter_to_date","this_year_to_date","last_year","last_year_to_date","yesterday","last_week","last_week_to_date","last_month","last_month_to_date","last_quarter","last_quarter_to_date","last_7_days","last_30_days","last_60_days","last_90_days","trailing_12_months","next_7_day
[...]
